

$light-bg: rgb(236, 240, 241);
$light-bg-nav: hsla(192, 37%, 70%, 1);
$light-color: rgb(17, 17, 17);




$dark-bg: rgb(48, 48, 48); // Mélyebb sötét szín az általános háttérhez
$dark-bg-nav: rgb(60, 60, 60); // Sötét navigációs sávhoz, hogy elváljon a fő háttértől
$dark-color: rgb(200, 200, 200); // Szöveg szín sötét témához (jobb kontraszt)

$dark-bg-headers: rgba(243, 91, 91, 0.541);